body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #edeff2;
}

.Stockimage {
}
.title-bar {
	background: #ebf9d5;
	color: #4c4042;
	text-align: center;
	display: block;
}

.nav {
    background-color: #31658c;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    text-transform: uppercase;
}

.nav > li > a {
    text-decoration: none;
    color: #fff;
}

.nav > li > a:hover {
    color: #c1c1c1;
}

